body {
	font-family: "Open Sans";
	background-color: #e9eaed;
}

.container {
	width: 100%;
}

#login {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	border:1px solid black;
	width: 75%;
	line-height: normal;
	margin-top: 10%;
	height:75%;
}

#users {
	background-color: #f9faed;
	border-left: 1px solid black;
	padding-left: 10px;
	float: right;
	width: 24%;
}

#chat {
	display:none;
}